.hc-luckywheel ul,
.hc-luckywheel li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hc-luckywheel {
  position: relative;
  width: min(100vw - 50px, 100vh - 50px);
  height: min(100vw - 50px, 100vh - 50px);
  border-radius: 50%;
  display: block;
}

.hc-luckywheel-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-clip: padding-box;
  background-color: #ffcb3f;
  -webkit-transition: transform 6s ease;
  transition: transform 6s ease;
}

.hc-luckywheel-container canvas {
  width: calc(100% - 16px * 2);
  height: calc(100% - 16px * 2);
  border: 16px solid #007518;
  border-radius: 50%;
}

.hc-luckywheel-list {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
}
/* title item */
.hc-luckywheel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #e4370e;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

.hc-luckywheel-item span {
  position: relative;
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform-origin: 50% 120%; 
  -ms-transform-origin: 50% 120%; 
  transform-origin: 50% 120%;
  /* height = (100% - spinner)/2 opposite slices - padding */
  height: calc((100% - 80px)/2 - 20px);
}

#curve {
  margin-top: 1.2rem;
  margin-bottom: 0rem;
}

.hc-luckywheel-item img {
  /*Change this when change size*/
  /* width: 115px; */
  /*Change this when change size*/
  height: calc(100% - 80px)
} 

.hc-luckywheel-btn {
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #f4e9cc;
  background-color: #e44025;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.hc-luckywheel-btn::after {
  position: absolute;
  display: block;
  content: "";
  left: 10px;
  top: -46px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 30px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #e44025;
}

.hc-luckywheel-btn.disabled {
  pointer-events: none;
  background: #b07a7b;
  color: #ccc;
}

.hc-luckywheel-btn.disabled::after {
  border-bottom-color: #b07a7b;
}

body{
  height: 100vh;
  width:100%;
  overflow: hidden;
}

.bg {
  background-image : url('../images/bgken.jpg');
  background-size: cover;
  object-fit       : fill;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bodey {
  height: 100vh !important;
}

/* Small Devices (Landscape Phones) */
@media (min-width: 600px) and (max-width: 767px) {
  .hc-luckywheel-item span {
    height: calc((100% - 80px)/2 - 30px);
  }
  .hc-luckywheel-item img{
    height: calc(100% - 100px)
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .hc-luckywheel-item span {
    height: calc((100% - 80px)/2 - 50px);
  }
  .hc-luckywheel-item img{
    height: calc(100% - 115px)
  }
}

/* Large Devices (Desktops and Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .hc-luckywheel-item span {
    height: calc((100% - 80px)/2 - 60px);
  }
  .hc-luckywheel-item img{
    height: calc(100% - 130px)
  }
}

/* Extra Large Devices (Large Screens) */
@media (min-width: 1200px) {
  .hc-luckywheel-item span {
    height: calc((100% - 80px)/2 - 70px);
  }
  .hc-luckywheel-item img{
    height: calc(100% - 145px)
  }
}